body{
    color: red;
    background-color: rgb(0, 0, 0);
    margin: 0px;
    font-family: "Momo Trust Display", sans-serif;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 2px white;
    padding: 20px;
    font-size: 32px;
    color: red;
}

section{
    background: rgb(58, 33, 1);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: first baseline;
}
.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}
p{
    font-size: 40px;
}

img{
    height: 200px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
}